@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 mx-auto">
        <!-- Center-align the content -->
        <h1 class="text-center">@ViewData["Title"]</h1>
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input class="form-control" autocomplete="current-password" aria-required="true" placeholder="email" />
                    <label class="form-label">Email</label>
                    <span class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label class="form-label">Password</label>

                </div>

                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a>Don't have an account? Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
