@{
    ViewData["Title"] = "User Loginn";
}
<div class="text-center">
    <h1 class="display-4"><u>Log inn</u></h1>
    <div class="container">
        <table class='table table-striped'>
            <tr><th>Username</th><td>Here shall the the username box come</td></tr>
            <tr><th>Password</th><td>Here shall the the password box come</td></tr>
        </table>
    </div>
</div>
