@{
    ViewData["Title"] = "User Loginn";
}
<div class="text-center">
    <h1 class="display-4">Log inn</h1>
    <div class="container">
        <table class='table table-striped'>
            <tr><th>Username</th><td>Here shall the the username box come</td></tr>
            <tr><th>Password</th><td>Here shall the the password box come</td></tr>
        </table>
        <button href="">Log inn</button>
        <div>
            <a href="">No user? Click here to create</a>
        </div>
    </div>
</div>
