@{
    ViewData["Title"] = "Home Page";
}
@model Post

<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>


    <!--DETTE SNAKKER VI OM NÅ start-->

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h3>What we're talking about now</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">

                        @if (Model != null)
                        {
                            <!-- Vis innholdsstrukturen for siste post -->
                            <p>@Model.PostTime</p>
                        }
                        else
                        {
                            <p>Ingen siste post tilgjengelig.</p>
                        }

                    </li>

                    <!-- Legg til flere elementer etter behov -->
                </ul>
            </div>
        </div>
    </div>



    <!--DETTE SNAKKER VI OM NÅ end-->
    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <h2><a href="Category/CategoryDetails/1">Sport</a></h2>
                </div>

                <div class="col">
                    <h2><a href="Category/CategoryDetails/2">Data</a></h2>
                </div>
                <div class="col">
                    <h2><a href="Category/CategoryDetails/3">Politics</a></h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col">
                    <h2><a href="Category/CategoryDetails/4">Health</a></h2>
                </div>

                <div class="col">
                    <h2><a href="Category/CategoryDetails/5">Job</a></h2>
                </div>

                <div class="col">
                    <h2><a href="Category/CategoryDetails/6">Culture,Film and Music</a></h2>
                </div>
            </div>
            <div class="row ">
                <div class="col">
                    <h2><a href="Category/CategoryDetails/7">Mobile, tablets and smartwatches</a></h2>
                </div>

                <div class="col">
                    <h2><a href="Category/CategoryDetails/8">	Economics and law</a></h2>
                </div>


            </div>



        </div>
    </div>
    <!-- Category End -->


</body>
</html>