@{
    ViewData["Title"] = "Home Page";
}

@model TopicListViewModel


<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>


    <!--DETTE SNAKKER VI OM NÅ start-->

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h3>What we're talking about now</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">

                        @if (Model != null)
                        {
                            <!-- Vis innholdsstrukturen for siste post -->
                            <p>@Model.Topics</p>
                        }
                        else
                        {
                            <p>Ingen siste post tilgjengelig.</p>
                        }

                    </li>

                    <!-- Legg til flere elementer etter behov -->
                </ul>
            </div>
        </div>
    </div>



    <!--DETTE SNAKKER VI OM NÅ end-->
    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row align-items-start">
              

                <div class="col col-category">
                    <h2>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="1">Sport</a>
                       
                    </h2>
                </div>
                <div class="col col-category">
                    <h2>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="2">Data</a>
                    </h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="3">Politics</a></h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="4">Health</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="5">Job</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="6">Culture,Film and Music</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="7">Mobile, tablets and smartwatches</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="8">Economics and law</a></h2>
                </div>
            </div>



        </div>
    </div>
    <!-- Category End --> <!--https://getbootstrap.com/docs/4.0/components/carousel/-->

    <div>
        <h2 class="chosen-title">Our chosen ones</h2>

    </div>
    <div id="myCarousel" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-between">
                    <div class="utvalgt">
                        <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="1">
                            <img class="utvalgt-img" src="~/images/formula1.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="utvalgt-content">
                            <h3 class="col col-c">
                                <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="1">Formel 1 2023</a>
                            </h3>
                            <p>Vi er i gang med en ny sesong av F1. Bli med i tråden vår.</p>

                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    15 svar
                                </li>
                            </ul>


                            
                          
                        </div>
                    </div>
                    <div class="utvalgt">
                        <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="2">
                            <img class="utvalgt-img" src="~/images/fotball.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="utvalgt-content">
                            <h3 class="col col-c">Fotball</h3>
                            <p>Vi er i gang med en ny sesong av fotball. Bli med i tråden vår.</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    20 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="utvalgt">
                        <img class="utvalgt-img" src="~/images/vacation.jpg" alt="Bildebeskrivelse">
                        <div class="utvalgt-content">
                            <h3 class="col col-c">Vacation</h3>
                            <p>Planlegger en ferie? Sjekk ut våre tips og råd.</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    30 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-between">
                    <div class="utvalgt">
                        <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="3">
                            <img class="utvalgt-img" src="~/images/mosque.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="utvalgt-content">
                            <h3 class="col col-c">Conflict</h3>
                            <p>Palastine and Israel conflict, read more about here</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    20 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="utvalgt">
                        <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="1">
                            <img class="utvalgt-img" src="~/images/cyberS.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="utvalgt-content">
                            <h3 class="col col-c">Cyber Threats</h3>
                            <p>join the debate</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    3 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="utvalgt">
                        <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="4">
                            <img class="utvalgt-img" src="~/images/skiEquipments.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="utvalgt-content">
                            <h3 class="col col-c">Cross country skiing</h3>
                            <p>Equipment and maintenance</p>

                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    5 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    </div>


    <style>

        .chosen-title{
            font-weight: 700;
            color: #333;
            /* color: #45260a; */
            /* color: #343a40; */
            letter-spacing: -0.5px;
            font-size: 1.7rem;
            line-height: 1.05;
            margin-bottom: 1rem;
        }
        .utvalgt{
            box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
            border-radius: 1px;
            overflow: hidden;
            transition: all 0.4s;
            margin-left:10px;
            padding-bottom: 5rem;
            background-color: white;
        }
        .utvalgt-content{
            padding-left:1rem;
            padding-right:2rem;
            padding-top:1rem;
            
        }

        h3 a {
            color: inherit; 
            text-decoration: none; 
        }
        .utvalgt-img{
            width: 100%; 
        }

        .carousel-fade .carousel-item {
            transition: opacity 0.5s; /* Legg til ønsket overgangstid for fade-effekten */
        }

        .carousel-fade .carousel-inner {
            align-items: stretch;
        }

        .carousel{
            margin-bottom:30px;
        }

        .carousel-control-prev-icon, .carousel-control-next-icon {
           background-color:black;

        }


        
            </style>
    </style>
    <script>
        $(document).ready(function () {
            var carousel = $('.carousel');

            // Håndter forrige og neste knappklikk
            $('.carousel-control-prev').click(function () {
                carousel.carousel('prev');
            });

            $('.carousel-control-next').click(function () {
                carousel.carousel('next');
            });
        });
    </script>

    

</body>
</html>

