@{
    ViewData["Title"] = "Home Page";
}

@model PostListViewModel


<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>


    <!--DETTE SNAKKER VI OM NÅ start-->

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h3>What we're talking about now</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">

                        @if (Model != null)
                        {
                            @foreach (var post in Model.Posts)
                            {
                                <tr>
                                    <td>@post.PostId</td>
                                    <td>@post.PostTitle</td>
                                    <td>@post.PostTime</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <p>Ingen siste post tilgjengelig.</p>
                        }

                    </li>

                    <!-- Legg til flere elementer etter behov -->
                </ul>
            </div>
        </div>
    </div>



    <!--DETTE SNAKKER VI OM NÅ end-->


    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row align-items-start">
              

                <div class="col col-category">
                    <h2>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="1">Sport</a>
                       
                    </h2>
                </div>
                <div class="col col-category">
                    <h2>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="2">Data</a>
                    </h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="3">Politics</a></h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="4">Health</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="5">Job</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="6">Culture,Film and Music</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="7">Mobile, tablets and smartwatches</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="8">Economics and law</a></h2>
                </div>
            </div>



        </div>
    </div>

    <!-- Category End --> 

    <!--Our choosen one section-->

    <!--https://getbootstrap.com/docs/4.0/components/carousel/-->

    <div>
        <h2 class="chosen-title">Our chosen ones</h2>

    </div>
    <div id="myCarousel" class="carousel carousel-fade" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-between">
                    <div class="chosen">
                        <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="1">
                            <img class="utvalgt-img" src="~/images/formula1.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="chosen-content">
                            <h3 class="col col-c">
                                <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="1">Formel 1 2023</a>
                            </h3>
                            <p>We are in the midst of a new season of F1. Join our thread.</p>

                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    15 svar
                                </li>
                            </ul>


                            
                          
                        </div>
                    </div>
                    <div class="chosen">
                        <a asp-controller="Post" asp-action="PostDetails" asp-route-id="1">
                            <img class="utvalgt-img" src="~/images/fotball.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="chosen-content">
                            <h3 class="col col-c">
                                <a asp-controller="Post" asp-action="PostDetails" asp-route-id="1">Premier League</a>
                            </h3>
                            <p>Join the football thread to discuss more about your favorite team.</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    20 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="chosen">
                          <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">
                        <img class="utvalgt-img" src="~/images/vacation.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="chosen-content">
                            <h3 class="col col-c">
                                <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">Vacation</a>
                            </h3>
                            <p>Planning a vacation? Check out our tips and advice.</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    30 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-between">
                    <div class="chosen">
                        <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">
                            <img class="utvalgt-img" src="~/images/mosque.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="chosen-content">
                            <h3 class="col col-c">
                                <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">Conflict</a>
                            </h3>
                            <p>Palastine and Israel conflict, read more about here</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    20 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="chosen">
                        <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">
                            <img class="utvalgt-img" src="~/images/cyberS.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="chosen-content">
                            <h3 class="col col-c">
                                <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">Cyber Threats</a>
                            </h3>                           
                            <p>join the debate</p>
                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    3 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="chosen">
                        <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">
                            <img class="utvalgt-img" src="~/images/skiEquipments.jpg" alt="Bildebeskrivelse">
                        </a>
                        <div class="chosen-content">
                            <h3 class="col col-c">
                                <a asp-controller="Post" asp-action="PostDetails" asp-route-id="">Cross Country Skiing</a>
                            </h3>                           
                            <p>Equipment and maintenance</p>

                            <ul class="list-unstyled d-flex align-items-center">
                                <li class="mr-2">
                                    <i class="fas fa-thumbs-up" style="color: green;"></i>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i>
                                    5 svar
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    </div>



    <script>
        $(document).ready(function () {
            var carousel = $('.carousel');

            // Håndter forrige og neste knappklikk
            $('.carousel-control-prev').click(function () {
                carousel.carousel('prev');
            });

            $('.carousel-control-next').click(function () {
                carousel.carousel('next');
            });
        });
    </script>

    <!--Our choosen one section end-->


</body>
</html>

