@{
    ViewData["Title"] = "Home Page";
}

@model TopicListViewModel


<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">

   
</head>
<body>


    <!--DETTE SNAKKER VI OM NÅ start-->

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h3>What we're talking about now</h3>
                <ul class="list-unstyled">
                    <li class="d-flex justify-content-between">

                        @if (Model != null)
                        {
                            <!-- Vis innholdsstrukturen for siste post -->
                            <p>@Model.Topics</p>
                        }
                        else
                        {
                            <p>Ingen siste post tilgjengelig.</p>
                        }

                    </li>

                    <!-- Legg til flere elementer etter behov -->
                </ul>
            </div>
        </div>
    </div>



    <!--DETTE SNAKKER VI OM NÅ end-->
    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row align-items-start">
              

                <div class="col col-category">
                    <h2>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="1">Sport</a>
                       
                    </h2>
                </div>
                <div class="col col-category">
                    <h2>
                        <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="2">Data</a>
                    </h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="3">Politics</a></h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="4">Health</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="5">Job</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="6">Culture,Film and Music</a></h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="7">Mobile, tablets and smartwatches</a></h2>
                </div>
                <div class="col col-category">
                    <h2><a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="8">Economics and law</a></h2>
                </div>
            </div>



        </div>
    </div>
    <!-- Category End --> <!--https://getbootstrap.com/docs/4.0/components/carousel/-->

    <div>
        <h2 class="chosen-title">Our chosen ones</h2>

    </div>
    <div id="myCarousel" class="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-between">
                    <div class="utvalgt">
                        <img class="utvalgt-img" src="~/images/formula1.jpg"/>
                         <div class="utvalgt-contet">
                            <h3 class="col col-c">Formel 1 2023</h3>
                            <p>Vi er gang me en ny sesong av F1. Bli med i tråden vår</p>
                         </div>
                       
                    </div>
                    <div class="utvalgt">
                        <img class="utvalgt-img" src="~/images/fotball.jpg" />
                        <div class="utvalgt-contet">
                            <h3 class="col col-c">Fotball</h3>
                            <p>Vi er gang me en ny sesong av F1. Bli med i tråden vår</p>
                        </div>

                    </div>
                    <div class="utvalgt">
                        <img class="utvalgt-img" src="~/images/vacation.jpg" />
                        <div class="utvalgt-contet">
                            <h3 class="col col-c">Vacation</h3>
                            <p>Vi er gang me en ny sesong av F1. Bli med i tråden vår</p>
                        </div>

                    </div>
                 
                </div>
               
        
            </div>
            <div class="carousel-item">

                <div class="d-flex justify-content-between">
                    <p class="col col-c">Palastina israle</p>
                    <p class="col col-c">Kjendiser</p>
                    <p class="col col-c">Gjert</p>
                </div>
            </div>
         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>

    <style>

        .chosen-title{
            font-weight: 700;
            color: #333;
            /* color: #45260a; */
            /* color: #343a40; */
            letter-spacing: -0.5px;
            font-size: 1.7rem;
            line-height: 1.05;
            margin-bottom: 3rem;
        }
        .utvalgt{
            box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
            border-radius: 1px;
            overflow: hidden;
            transition: all 0.4s;
            margin-left:20px;
            padding-bottom: 9.6rem;
            background-color: white;
        }
        .utvalgt-img{
            width: 100%;
        }

        .col-c{
      
        }
        .utvalgt-content{
            padding: 3.2rem 4.8rem 4.8rem 4.8rem;
        }

        .carousel{
            margin-bottom:30px;
        }
            </style>
    <script>
        $(document).ready(function () {
            var carousel = $('.carousel');

            // Håndter forrige og neste knappklikk
            $('.carousel-control-prev').click(function () {
                carousel.carousel('prev');
            });

            $('.carousel-control-next').click(function () {
                carousel.carousel('next');
            });
        });
    </script>


    

</body>
</html>

