@model Post

<h2>Create new Post</h2>

<form asp-action="Createpost">
    <div class="form-group">
        <label asp-for="PostTitle"></label><span class="text-danger">*</span>
        <input asp-for="PostTitle" class="form-control" />
        <span asp-validation-for="PostTitle" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="PostId" value="@Model.PostId" />

    <button type="submit" class="btn btn-primary">Create</button>

    <a asp-controller="Topic" asp-action="TopicDetails" asp-route-id="@Model.TopicId" class="btn btn-secondary">Back to Topic Details</a>
</form>