@model Post

<h2>Delete Post </h2>

<div>
    <h4>Post</h4>
    <!-- Create a description list with a "row" class -->
    <dl class="row">
        <dt class="col-sm-2">Post Id</dt>
        <dd class="col-sm-10">@Model.PostId </dd>
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.PostTitle</dd>
    </dl>

    <!-- Create anform that posts data to the "DeleteConfirmedPost" action with the "PostId" as a route parameter and uses the POST method -->
    <form asp-action="DeleteConfirmedPost" asp-route-id="@Model.PostId" method="Post">

        <!--When clicked, the button will send a post request to the DeletePost action (controller [HttpPost] DeletePost).-->
        <button type="submit" class="btn  btn-danger">Delete</button>
        <!--Return button, which returns the user to the PostDetails-->
        <a asp-controller="Post" asp-action="PostDetails" asp-route-id="@Model.TopicId" class="btn btn-secondary">Cancel</a>
    </form>
</div>

