@model Forum.Models.Post

Hei, her kommer diskusjonen, hiv og ho!!!
<partial name="_CommentTable" model="Model.Comments" />

<a class="btn btn-primary"
   asp-controller="Comment"
   asp-action="CreateComment"
   asp-route-postId="@Model.PostId">Reply</a>