@model CategoryListViewModel

<h1>List of Categories (@Model.CurrentViewName View)</h1>
<a href="/Category/CategoryGrid">Grid View</a>


<partial name="_CategoryTable" model="Model.Categories" />


@*<a class="btn btn-primary" asp-action="OrderConsole">Console Output</a>*@
