@model Forum.Models.Category

<h3 class="my-5">
   @Model.Name
</h3>

<div class="row gx-5">
    <div class="col-7">
        <h4>Her kommer forumene </h4> 
        <!-- Her Skal vi ha partial med der vi henter ut listen av rooms i denne kategorien: <partial model="Model.Rooms.RoomId" -->
    </div>
</div>


<a class="btn btn-primary"
   asp-controller="Room"
   asp-action="CreateRoom"
   asp-route-categoryId="@Model.CategoryId">Create New Room </a>
