@model Forum.Models.Category

<div class="category-container">
    <h3 class="category-title">@Model.Name</h3>
    <div class="category-content">
        <ul class="room-list">
            @foreach (var room in Model.Rooms)
            {
                <li class="room-item">
                    <a href="@Url.Action("RoomAction", "RoomController", new { roomId = room.RoomId })">
                        @room.RoomName
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<a class="btn btn-primary"
   asp-controller="Room"
   asp-action="CreateRoom"
   asp-route-categoryId="@Model.CategoryId">Create New Room </a>
