@model CategoryListViewModel

<div class="heading">
    <h3>Categories </h3>
</div>

<!-- Render a partial view called "_CategoryTable" with the list of categories from the model -->
<partial name="_CategoryTable" model="Model.Categories" />


<div class="heading">
    <i class="fa fa-th"></i>
    <a style="color:GrayText; " href="/Category/CategoryGrid">Grid View</a>
</div>