@model Forum.Models.Category
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<partial name="_RoomTable" model="Model.Rooms" />

@if (User.IsInRole("SuperAdmin"))
{
<a class="btn btn-primary"
   asp-controller="Room"
   asp-action="CreateRoom"
    asp-route-categoryId="@Model.CategoryId">Create New Room</a>
}