@model Forum.Models.Category
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<H1>@Model.CategoryName</H1>

<a class="link-primary" asp-controller="Home" asp-action="Index">Home ></a>
<a class="link-primary">@Model.CategoryName</a>

<partial name="_RoomTable" model="Model.Rooms" />

@if (User.IsInRole("SuperAdmin"))
{
    <a class="btn btn-primary" class="create" style="margin-left: 110px;"
   asp-controller="Room"
   asp-action="CreateRoom"
    asp-route-categoryId="@Model.CategoryId">Create New Room</a>
}