@model CategoryListViewModel

<h1>List of categories (@Model.CurrentViewName View)</h1>
<a href="/Category/CategoryTable">Table View</a>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var category in Model.Categories)
    {
        <partial name="_CategoryCard" model="category" />
    }
</div>