@model CategoryListViewModel

<h3> Categories </h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <!--Iterate through the list of categories in the model-->

    @foreach (var category in Model.Categories)
    {
        <partial name="_CategoryCard" model="category" /> <!-- Render a partial view called "_CategoryCard" for each category in the list -->
    }
</div>
<div class="margGrid">
    <i class="fa fa-table"></i>  <!-- Display an icon for a table using Font Awesome -->
    <a style="color: GrayText;" href="/Category/CategoryTable">Table View</a>
</div>


