@model Category    

<div class="col">
    <div>
        <div>
            <div class="d-flex justify-content-between mt-2">
                <h5 class="text-start">
                    <a asp-controller="Category"
                       asp-action="CategoryDetails"
                       asp-route-id="@Model.CategoryId">@Model.Name</a>
                </h5>
            </div>
        </div>
    </div>
</div>