@model IEnumerable<Comment>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th class="bg-dark text-light">User</th>
            <th class="bg-dark text-light">Comment</th>
            @if (User.IsInRole("SuperAdmin"))
            {
                <th class="bg-dark text-light"> </th>
            }
        </tr>
        @foreach (var Comment in Model)
        {
            <tr>
                <td>@Comment.UserName</td>
                <td>
                    <span>@Comment.CommentDescription</span>
                </td>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <td>
                        <a asp-action="UpdateComment" asp-controller="Comment" asp-route-id="@Comment.CommentId" class="btn btn-success">Update</a>
                        <a asp-action="DeleteComment" asp-controller="Comment" asp-route-id="@Comment.CommentId" class="btn btn-danger">Delete</a>
                    </td>
                }
            </tr>
        }
    </table>

</div>
