
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Icon Font Stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">




<footer class="footer" style="background-color: cadetblue; color: black;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            
                 <p class="logo">
                        My Forum 
                     
                  </p>

                <div class="d-flex pt-2   ">
                    <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>

                <p class="copyright">
                    Copyright &copy; 2024 by MyForum Inc. All rights reserved.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="footer-heading">
                    <p class="contact-title"> Contact us</p>
                    
                    </div>
                <address class="contacts">
                    
                    <p class="footer-link" href="tel:47-69-48-41">47 69 48 41</p>

                      <a class="footer-link" href="mailto:forum@gmail.com">forum@gmail.com</a>
              
                    
                </address>
            </div>
        </div>
    </div>
</footer>
