@model IEnumerable<Room>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="category">

    <ul class="list-group">
        @foreach (var room in Model)
        {
            <li class="list-group-item">

                <a asp-controller="Room"
                   asp-action="RoomDetails"
                   asp-route-id="@room.RoomId">@room.RoomName</a>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <div class="admin-buttons">
                        <a asp-action="UpdateRoom" asp-controller="Room" asp-route-id="@room.RoomId" class="btn btn-success">Update</a>
                        <a asp-action="DeleteRoom" asp-controller="Room" asp-route-id="@room.RoomId" class=" btn-admin btn btn-danger">Delete</a>
                    </div>
                }
            </li>
        }
    </ul>
</div>
