@model IEnumerable<Topic>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="category">
    <ul class="list-group">
        @foreach (var topic in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Topic"
                   asp-action="TopicDetails"
                   asp-route-id="@topic.TopicId">@topic.TopicName</a>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <div class="admin-buttons">
                        <a asp-action="UpdateTopic" asp-controller="Topic" asp-route-id="@topic.TopicId" class=" btn-admin btn btn-success">Update</a>
                        <a asp-action="DeleteTopic" asp-controller="Topic" asp-route-id="@topic.TopicId" class="btn-admin btn btn-danger">Delete</a>
                    </div>
                }
            </li>
        }
    </ul>
</div>
