@model IEnumerable<Topic>

<div class="container">
    <table class='table table-striped'>
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var topic in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Topic"
                       asp-action="TopicDetails"
                       asp-route-id="@topic.TopicId">@topic.TopicName</a>
                </td>
            </tr>
        }
    </table>
    <p>
        <a class="btn btn-secondary"
           asp-controller="Thread"
           asp-action="CreateTopic">Create New Topic</a>
    </p>
</div>
