@model Topic





<form asp-action="CreateTopic">
    <div class="form-group">
        <label asp-for="TopicName" style="margin-bottom:10px"></label><span class="text-danger">*</span>
        <input asp-for="TopicName" class="form-control" />
        <span asp-validation-for="TopicName" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="RoomId" value="@Model.RoomId" />

    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Create</button>
    <a asp-controller="Room" asp-action="RoomDetails" asp-route-id="@Model.RoomId" class="btn btn-secondary" style="margin-top: 10px;">Back to Room Details</a>
</form>
