@model Topic

<h2>Create new Topic</h2>

<form asp-action="CreateTopic">
    <div class="form-group">
        <label asp-for="TopicName"></label><span class="text-danger">*</span>
        <input asp-for="TopicName" class="form-control" />
        <span asp-validation-for="TopicName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="RoomDetails" class="btn btn-secondary">Back to Room View</a>
</form>
