@model Forum.Models.Topic

<!--Denne filen lager problemet, TopicId blir returnert som null. Som gjør at koblingen mellom topic og post ikke funker-->
<partial name="_PostTable" model="Model.Posts" />

<a class="btn btn-primary"
   asp-controller="Post"
   asp-action="CreatePost"
   asp-route-topicId="@Model.TopicId">Create New Post</a>