@model Forum.Models.Topic

<partial name="_PostTable" model="Model.Posts" />

<!-- <a defines this a as a hyperlink. The controller is "Post", and the action is CreatePost (+[HttpGet] because hyperlink).
The TopicId from the Topic model gets passed. (TopicController HttpGet TopicDetails action).-->
<a class="btn btn-primary"
   asp-controller="Post"
   asp-action="CreatePost"
   asp-route-topicId="@Model.TopicId">Create New Post</a>