@model TopicListViewModel

<div class="heading">
    <h3>Topics </h3>
</div>

<!-- It includes the content from the "_TopicTable" partial view and passes the "Model.Topics".-->

<partial name="_TopicTable" model="Model.Topics" />