@model Forum.Models.Topic

<partial name="_PostTable" model="Model.Posts" />

<a class="btn btn-primary"
   asp-controller="Post"
   asp-action="CreatePost"
   asp-route-categoryId="@Model.TopicId">Create New Post</a>