@model Room

<h2>Create new Room</h2>

<form asp-action="CreateRoom">
    <div class="form-group">
        <label asp-for="RoomName"></label><span class="text-danger">*</span>
        <input asp-for="RoomName" class="form-control" />
        <span asp-validation-for="RoomName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Category" asp-action="CategoryDetails" asp-route-id="@Model.CategoryId" class="btn btn-secondary">Back to Category Details</a>
</form>