@model Forum.Models.Room
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<partial name="_TopicTable" model="Model.Topics" />

@if (User.IsInRole("SuperAdmin"))
{
    <a class="btn btn-primary" class="create" style="margin-left: 110px;"
   asp-controller="Topic"
   asp-action="CreateTopic"
   asp-route-roomId="@Model.RoomId">Create New Topic</a>
}