/* General styles for the entire website */
body {
    font-family: 'Mulish', sans-serif;
    background-color: #e9f0f5;
}



/*NAVBAR*/
/* Define styles for the navbar */
.navbar.navbar-expand-md {
    max-height: 50px; /* Adjust the maximum height of the navbar as needed */
}

.header-text {
    font-size: 40px;
    color: inherit; /* Style the header text and ensure it inherits the color */
}

    .header-text:hover {
        color: inherit; /* Define styles for the header text when hovered over */
    }

/* Remove text decoration from links */
a {
    text-decoration: none;
}

/* Style the main navigation link and the logout button */
.main-nav-link.nav-cta, #logout {
    font-size: 20px;
    color: inherit;
}

#logout {
    padding: 0.5rem 2rem;
    border-radius: 3px;
}

/* Style navigation links for a cleaner look */
.main-nav-link.nav-ct:link,
.main-nav-link.nav-ct:visited {
    padding: 0.5rem 2rem;
    border-radius: 3px;
    color: #fff;
    background-color: #000080;
}

.main-nav-link.nav-ct:hover,
.main-nav-link.nav-ct:hover {
    background-color: #6082B6; /* Change background color on hover */
}



/*THIS IS WHAT WE'RE TALKING ABOUT NOW SECTOION styles*/

/* Style the main content area column */
.col-md-8 {
    border: 1px solid #e0e0e0;
    width: 100%;
    background-color: white;
}

/* Style the list items */
.list-unstyled li {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
}

/* Style headings (h4) within list items */
ul.list-unstyled li h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Style links (a) within headings */
.list-unstyled li h4 a {
    text-decoration: none;
    color: #007bff;
}

/* Change link color on hover */
ul.list-unstyled li h4 a:hover {
    color: #0056b3;
}

/* Style timestamps (p) within list items */
ul.list-unstyled li p {
    font-size: 14px;
    color: #777;
    margin: 0;
}

/* Define styles for the section title */
.section-talking-title {
    padding-bottom: 15px;
    padding-top: 25px;
    font-weight: bold;
}

/* Add a custom line (horizontal rule) between items */
.custom-line {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}






/* CATEGORY SECTION Styles */

/* Style category columns */
.col-category {
    padding: 7px;
    text-align: center;
    color: white;
    margin: 6px; /* Space between categories */
    background-color: #4682B4;
    font-weight: bold;
}

    /* Change category text color on hover */
    .col-category:hover {
        color: #fff;
    }

/* Add border style */
.border-box {
    border: 1px solid #fff;
    padding: 20px;
    text-align: center;
}

/* Style headings (h2) within categories */
h2 {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 20px;
}

    h2 a {
        text-decoration: none;
        color: white;
    }

/* Our Chosen Ones Section Styles */

/* Style the section title */
.chosen-title {
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;
    font-size: 1.7rem;
    line-height: 1.05;
    margin-bottom: 1rem;
}

/* Style chosen content boxes */
.chosen {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 1px;
    overflow: hidden;
    transition: all 0.4s;
    margin-left: 10px;
    padding-bottom: 5rem;
    background-color: white;
}

/* Style chosen content within boxes */
.chosen-content {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

/* Style links (a) within chosen content */
h3 a {
    color: inherit;
    text-decoration: none;
}

/* Style images within chosen content */
.utvalgt-img {
    width: 100%;
}

/* Style carousel items to have a fade effect */
.carousel-fade .carousel-item {
    transition: opacity 0.6s;
}

/* Style the carousel itself */
.carousel {
    margin-bottom: 30px;
}

/* Style carousel control icons */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}

/* Position the carousel control buttons */
.carousel-control-prev, .carousel-control-next {
    margin-top: 250px;
}

/* Add margin for the previous button */
.carousel-control-prev {
    margin-right: 500px;
}

/* Footer Styles */

/* Style social media buttons */
.btn.btn-social {
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 35px;
    transition: 0.3s;
}

/* Style copyright information */
.copyright {
    padding-top: 9px;
}

/* Style contact title and logo */
.contact-title, .logo {
    font-size: 20px;
    font-weight: bold;
}
/**************************Style for category, room and topic*********************/

/* Container style for content */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for category (used in all three HTML files) */
.category {
    background-color:white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Link style (used in all three HTML files) */
a {
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
}

    a:hover {
        color: #FF5733;
    }

/*Style for AdminUser*/
.table {
    width: 100%;
}

.btn-admin {
    display: flex;
    margin: auto;
}

.admin-buttons {
    display: flex;
    margin: auto;
}


/* Style for list items (used in all three HTML files) */
.list-group-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #7f858d;
    /*background-color: #4682B4;*/
    width: 80%;
}

/* Specific style for "list-group-roomitem" (used in "RoomTable" and "Topictable" HTML files) */
.list-group-roomitem {
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #7f858d;
    width: 80%;
}

/*style for links in list items*/
.list-group-item a {
    display: block;
    color: white;
    font-weight: bold;
}

.list-group-roomitem a {
    display: block;
    color: white;
    font-weight: bold;
}

/* Style for icons (used in "CategoryTable" HTML file) */
.fa {
    margin: 10px;
}

/* Specific style for "topic" (used in "Topictable" HTML file) */
.topic, ::after, ::before {
    justify-content: space-around;
}

/* Style for "create" (used in "CategoryTable" HTML file) */
.create {
    margin-top: 20px;
}

/* Style for the list of categories,rooms and topics */
.category ul.list-group {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


/* Styling for the heading element*/
.heading {
    margin-left: 30px;
}

/* Specific style for "margGrid" (used in "CategoryTable" HTML file) */
.margGrid {
    margin-top: 20px;
}

/* Style for "grid" (used in CategoryGrid)*/
.grid {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
}
