
body {
    font-family: 'Mulish', sans-serif;
}



/*NAVBAR*/


.navbar.navbar-expand-md {
    max-height: 50px; /* Endre denne verdien etter ønsket høyde */
}

.header-text {
    font-size: 40px;
    color: inherit;
}

    .header-text:hover {
        color: inherit;
    }


a {
    text-decoration: none;
}

.main-nav-link.nav-cta, #logout{
    font-size: 20px;
    color: inherit;
}
#logout {
    padding: 0.5rem 2rem;
    border-radius: 3px;
}

.main-nav-link.nav-ct:link,
.main-nav-link.nav-ct:visited {
    padding: 0.5rem 2rem;
    border-radius: 3px;
    color: #fff;
    background-color: #000080;
}

.main-nav-link.nav-ct:hover,
.main-nav-link.nav-ct
t:active {
    background-color: #6082B6;

}


/*/ Dette snakker vi om side */
.col-md-8 {
    border: 1px solid #e0e0e0;
    width: 100%;
    background-color:white;
}

/* Ramme rundt hvert innlegg */
.list-unstyled li {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 25px;
}

/* Overskriftene (h4) */
ul.list-unstyled li h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

/* Lenker (a) i overskriftene */
.list-unstyled li h4 a {
    text-decoration: none;
    color: #007bff;
}

/* Endre fargen til lenker når de peker (hover-effekt) */
ul.list-unstyled li h4 a:hover {
    color: #0056b3;
}

/* Tidsstempel (p) */
ul.list-unstyled li p {
    font-size: 14px;
    color: #777;
    margin: 0;
}
/*Dette snakker vi om side slutt*/


/*Kategori start*/

.col-category {
    padding: 7px;
    text-align: center;
    color: white; /* Tekstfarge */
    margin: 6px; /* space between categories */
    background-color: #4682B4;
    font-weight: bold;
}

    .col-category:hover {
        color: #fff; /* change the color on hover */
    }


/* Stil for hvit border */
.border-box {
    border: 1px solid #fff; /* Hvit border */
    padding: 20px; /* Ekstra padding for innholdet innenfor borderen */
    text-align: center;
}

h2 {
    font-weight: bold; /* Gjør overskriften fet */
    margin-bottom: 0; /* Fjern ekstra mellomrom under overskriften */

    font-size: 20px
}

    h2 a {
        text-decoration: none; /* Fjern understrek fra lenken */
        color: white; /* Endre farge for lenken */
    }
/*Kategori end*/



/**Our chocen ones section*/

.chosen-title {
    font-weight: 700;
    color: #333;
    /* color: #45260a; */
    /* color: #343a40; */
    letter-spacing: -0.5px;
    font-size: 1.7rem;
    line-height: 1.05;
    margin-bottom: 1rem;
}

.chosen {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 1px;
    overflow: hidden;
    transition: all 0.4s;
    margin-left: 10px;
    padding-bottom: 5rem;
    background-color: white;
}

.chosen-content {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

h3 a {
    color: inherit;
    text-decoration: none;
}

.utvalgt-img {
    width: 100%;
}

.carousel-fade .carousel-item {
    transition: opacity 0.6s;
}


.carousel {
    margin-bottom: 30px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: black;
}


        


/**Foooter*/
.btn.btn-social {
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    transition: .3s;
}
.copyright{
    padding-top:9px;
}
.contact-title, .logo {
    font-size: 20px;
    font-weight:bold;
}

